asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
decorator==5.2.1
distlib==0.4.0
dj-config-url==0.1.1
Django==6.0.1
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.16.1
environs==14.5.0
filelock==3.20.3
gunicorn==25.0.1
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
inflection==0.5.1
marshmallow==4.2.0
moviepy==2.2.1
numpy==2.4.1
opencv-python==4.13.0.90
packaging==25.0
pillow==11.3.0
pipenv==2026.0.3
platformdirs==4.5.1
portalocker==3.2.0
proglog==0.1.12
psycopg2==2.9.11
psycopg2-binary==2.9.11
python-decouple==3.8
python-dotenv==1.2.1
python-vlc==3.0.21203
pywin32==311
PyYAML==6.0.3
requests==2.32.5
setuptools==80.10.2
sqlparse==0.5.5
tqdm==4.67.1
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uv==0.9.26
virtualenv==20.36.1
waitress==3.0.2
wheel==0.46.3
whitenoise==6.11.0
